<% include ../partials/header %>


<div class="fixed-action-btn hide-on-large-only">
  <a class="btn-floating btn-large modal-trigger" href="#post">
    <i class="large material-icons edit-color">mode_edit</i>
  </a>
</div>

<div class="fixed-action-btn hide-on-med-and-down">
  <a class="btn-floating btn-large modal-trigger up-arrow" id="topBtn" href="#top">
    <i class="large material-icons edit-color">arrow_upward</i>
  </a>
</div>


  <!-- Modal Structure -->
  <div id="post" class="modal">
    <div class="modal-content">
      <h4>Create story</h4>
      <div class="row">
        <form class="col s12" action="" method="POST">
          <div class="row">
            <div class="input-field col s12">
              <input name="" value="" id="title" type="text" class="validate">
              <label for="title">Title</label>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="" value="" id="image" type="text" class="validate">
          <label for="image">Image</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="" disabled value="" id="disabled" type="text" class="validate">
          <label for="disabled">TLDR</label>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <div class="input-field col s12">
            <textarea name="" id="body" class="materialize-textarea"></textarea>
            <label for="body">Body</label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">


    </div>
  </div>


<br>

<div class="container">
  <h2> Newsfeed </h2>
  <br>
  <div class="row">
    <div class ="col s12 m12 l9">
      <ul class="tabs">
        <li class="tab"><a class="active" href="#featured">Featured Stories</a></li>
        <li class="tab"><a href="#stories">Your Stories</a></li>
      </ul>

<br>
<div id="featured">
<%foundBlogs.forEach((blog) => { %>

<div class="card-panel center">
<h3>
  <%=blog.title%>
</h3>
<br>

<%if (blog.image.length > 0) { %>
<img class="responsive-img" src="<%=blog.image%>" alt="Image">
<% } %>

<p>
  <%=blog.tldr%>
</p>
<p>
  <%if (blog.body.length > 0) { %>
  <%=blog.body.substring(0, 100)%>
  <% } %>
</p>
<p>
  <%=blog.datePosted.toDateString()%>
</p>
<a href="/api/v1/blogs/<%=blog._id%>" class="waves-effect waves-light btn">Read More</a>
<a href="/api/v1/blogs/<%=blog._id%>/edit" class="waves-effect waves-light btn">Edit</a>
</div>
<%})%>



</div>
</div>

</div>
</div>

</div>

<div class="container center" id="stories">
  <div class="row">
    <div class="">
  <p>No stories available </p>
  </div>
  </div>
</div>



  </script>







<% include ../partials/footer %>
