<div id="top">

  <div class="fixed-action-btn hide-on-large-only">
    <a class="btn-floating btn-large modal-trigger" href="ideas/add">
      <i class="large material-icons edit-color">mode_edit</i>
    </a>
  </div>

  <div class="fixed-action-btn hide-on-med-and-down">
    <a class="btn-floating btn-large modal-trigger up-arrow" id="topBtn" href="#top">
      <i class="large material-icons edit-color">arrow_upward</i>
    </a>
  </div>

  <div class="container">
    <h2> Newsfeed </h2>
    <br>
    <div class="row">
      <div class ="col s12 m12 l7">
        <ul class="tabs">
          <li class="tab"><a class="active" href="#stories">Your Stories</a></li>
        </ul>

  <br>

{{#each ideas}}

<div class="card-panel">



    <h4>{{title}}</h4>

    {{#if image}}
    <br>
    <div class="center">
    <img class="responsive-img" alt="Image URL broken" src="{{image}}">
  </div>
  <br>
    {{/if}}

    <p name="content{{@index}}">{{details}}</p>
    <br>


    <div id="sentiment{{@index}}" >

  </div>

  <div id='content{{@index}}'></div>
  <br>





<div class="dropdown-menu-container right">
  <a class='dropdown-trigger' href='#dropdown1' data-target='dropdown{{@index}}'>
    <i class="small material-icons">keyboard_arrow_down</i>
  </a>
  <ul id='dropdown{{@index}}' class='dropdown-content dropdown-menu'>
    <li>
      <a href="/ideas/edit/{{id}}" class="">Edit</a>
    </li>

  </ul>
</div>
<br>

  </div>


<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, options);
  });



  var sentimood = new Sentimood();
  console.log({{@index}});
  var content = '{{details}}'
  var sentiment = sentimood.analyze(content.substring(0, 600));
  console.log(sentiment.score);
  if(sentiment.score >= 10) {
   document.getElementById("sentiment{{@index}}").innerHTML =
   "<br><div style='background-color: green; color: white;' class='chip'>Extremely Positive</div><br>"
 } else if(sentiment.score > 7) {
    document.getElementById("sentiment{{@index}}").innerHTML =
    "<br><div style='background-color: green; color: white;' class='chip'>Very Positive</div><br>"
  } else if (sentiment.score > 1) {
    document.getElementById("sentiment{{@index}}").innerHTML =
    "<br><div style='background-color: green; color: white;' class='chip'>Positive</div><br>"
  }
  if(sentiment.score < -10) {
    document.getElementById("sentiment{{@index}}").innerHTML =
    "<br><div style='background-color: purple; color: white;' class='chip'>Toxic</div><br>"
  } else if(sentiment.score < -7) {
    document.getElementById("sentiment{{@index}}").innerHTML =
    "<br><div style='background-color: purple; color: white;' class='chip'> Very Negative</div><br>"
  } else if(sentiment.score < 0) {
    document.getElementById("sentiment{{@index}}").innerHTML =
    "<br><div style='background-color: purple; color: white;' class='chip'>Negative</div><br>"
  }



  //Summarize API

  				var content = "{{details}}"
          console.log(content);
  				Summary.summarize(null, content, function(err, summary) {
            if (summary.length > 0) {
  					document.getElementById("content{{@index}}").innerHTML =  " <br><span style='font-weight:bold'>tldr</span>" + summary + "<br>";
          }
  				});






</script>

{{else}}
<div class="container center" id="stories">
<div class="row">
  <div class="">
<p>No stories available </p>
</div>
</div>
</div>
{{/each}}


</div>
</div>
</div>
